body {
  background-color: black;
  margin: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text {
  color:white;
  font-size: 36px;
  font-weight:bold;
  animation-name: move;
  animation-duration:2s;
/*   animation-fill-mode: */
/*   animation-iteration-count: infinite; */
/*   animation-timing-function: cubic-bezier(0.08,1.08,.84,1.05); */
}

@keyframes move {
  from {
    transform: translateX(-1000px)
  }
  to {
    transform: translateX(0px)
  }
}