.my_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_text {
    color:black;
    font-size: 30px;
    font-weight:bold;
    animation-name: move;
    animation-duration:0.5s;
    animation-fill-mode: backwards;
    /*   animation-iteration-count: infinite; */
    /*   animation-timing-function: cubic-bezier(0.08,1.08,.84,1.05); */
}

/* #hero{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.9)),
    url('https://picsum.photos/id/1/800/1200');
    background-size: cover;
    background-position: center;
} */

@keyframes move {
    from {
        transform: translateX(1000px)
    }
    to {
        transform: translateX(0px)
    }
}